.App {
  text-align: center;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.black.button {
  margin-top: 10px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}